*{
    margin: 0;
    padding: 0;
}
.wrap{
    background-color: #eeeeee;
}
.left{
    background-color: #cccccc;
    float: left;
    width: 15em;
}
.right{
    margin-left: 16em;
}
.right div{
    background-color: #aaa;
    margin-bottom: 5px;
}
.footer{
    background-color: #ccc;
}
.clear{
    height: 5px;
    clear: both;
}
.right div h2{
    color: red;
}
.card{
    width: 200px;
    height: 300px;
    background-color: green;
}